@import url('https://fonts.googleapis.com/css2?family=Norican&family=Rubik:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
}

body {
    background-color: #DFE0DF;
}