<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Planilla de Pagos</title>
        <link
            rel="stylesheet"
            href="../static/styles/navbar.css"
            type="text/css"
            th:href="@{/styles/navbar.css}"
        />
        <link
            rel="stylesheet"
            href="../static/styles/general.css"
            type="text/css"
            th:href="@{/styles/general.css}"
        />
        <link
            rel="stylesheet"
            href="../static/styles/planilla_pagos.css"
            type="text/css"
            th:href="@{/styles/planilla_pagos.css}"
        />
    </head>
    <body>
        <header class="navbar">
            <a href="/proveedores/registrar">Ingresar Proveedor</a>
            <a href="/proveedores/listar">Listar Proveedores</a>
            <p class="logo">MilkStgo</p>
            <div class="dropdown">
                <div class="dropdown-header">
                    <a class="link-active">Planilla de Pagos</a>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="26px"
                        viewBox="0 0 24 24"
                        width="26px"
                        fill="#FFFFFF"
                        class="svg-active"
                    >
                        <path
                            d="M8.12 9.29L12 13.17l3.88-3.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-4.59 4.59c-.39.39-1.02.39-1.41 0L6.7 10.7c-.39-.39-.39-1.02 0-1.41.39-.38 1.03-.39 1.42 0z"
                        />
                    </svg>
                </div>
                <ul class="dropdown-content">
                    <li>
                        <a class="link-active" href="/planilla-pagos">Mostrar planilla de pagos</a>
                    </li>
                    <li>
                        <a href="/planilla-pagos/calcular"
                            >Calcular planilla de pagos</a
                        >
                    </li>
                </ul>
            </div>
            <div class="dropdown">
                <div class="dropdown-header">
                    <a>Importar Excel</a>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="26px"
                        viewBox="0 0 24 24"
                        width="26px"
                        fill="#FFFFFF"
                    >
                        <path
                            d="M8.12 9.29L12 13.17l3.88-3.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-4.59 4.59c-.39.39-1.02.39-1.41 0L6.7 10.7c-.39-.39-.39-1.02 0-1.41.39-.38 1.03-.39 1.42 0z"
                        />
                    </svg>
                </div>
                <ul class="dropdown-content">
                    <li>
                        <a href="/acopios-leche/importar">Acopio de leche</a>
                    </li>
                    <li>
                        <a href="/grasas-solidos-totales/importar"
                            >Grasa y sólidos totales</a
                        >
                    </li>
                </ul>
            </div>
        </header>
        <div class="main">
            <div class="title">
                <h3>Planilla de Pagos</h3>
                <hr />
            </div>
            <div
                th:class="informative-alert"
                th:text="${message}"
                th:if="${message}"
            ></div>
            <table class="data-table">
                <thead>
                    <tr class="first-header">
                        <th colspan="1"></th>
                        <th colspan="2">Proveedor</th>
                        <th colspan="4">Acopio Leche</th>
                        <th colspan="4">Laboratorio (%)</th>
                        <th colspan="4">Pagos específicos (CLP)</th>
                        <th colspan="3">Descuento por Variación (CLP)</th>
                        <th colspan="3">Pagos (CLP)</th>
                    </tr>
                    <tr class="second-header">
                        <th>Quincena</th>
                        <th class="border-left">Código</th>
                        <th>Nombre</th>
                        <th class="border-left">KLS Totales</th>
                        <th class="max-1">Nro. días envió</th>
                        <th class="max-1">Prom. diario</th>
                        <th class="max-1">Var. Leche</th>
                        <th class="max-1 border-left">Grasa</th>
                        <th class="max-1">Var. Grasa</th>
                        <th class="max-1">Solido Total</th>
                        <th class="max-1">Var. ST</th>
                        <th class="border-left">Leche</th>
                        <th>Grasa</th>
                        <th class="max-1">Solido Total</th>
                        <th class="max-2">Bono Frecuencia</th>
                        <th class="border-left">Var. Leche</th>
                        <th>Var. Grasa</th>
                        <th>Var. ST</th>
                        <th class="border-left">Total</th>
                        <th>Retención</th>
                        <th>Final</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pago:${pagos}">
                        <td th:text="${pago.getQuincena}"></td>
                        <td th:text="${pago.getProveedor.getCodigo}"></td>
                        <td th:text="${pago.getProveedor.getNombre}"></td>
                        <td
                            th:text="${pago.getDatosCentroAcopio.getTotalKlsLeche}"
                        ></td>
                        <td
                            th:text="${pago.getDatosCentroAcopio.getTotalDias}"
                        ></td>
                        <td
                            th:text="${pago.getDatosCentroAcopio.getPromedioKlsPorDia}"
                        ></td>
                        <td
                            th:text="${pago.getDatosCentroAcopio.getVariacionLeche}"
                        ></td>
                        <td
                            th:text="${pago.getDatosCentroAcopio.getGrasaSolidoTotal.getPorcentajeGrasa}"
                        ></td>
                        <td
                            th:text="${pago.getDatosCentroAcopio.getVariacionGrasa}"
                        ></td>
                        <td
                            th:text="${pago.getDatosCentroAcopio.getGrasaSolidoTotal.getPorcentajeSolidoTotal}"
                        ></td>
                        <td
                            th:text="${pago.getDatosCentroAcopio.getVariacionSolidoTotal}"
                        ></td>
                        <td th:text="${pago.getPagoLeche}"></td>
                        <td th:text="${pago.getPagoGrasa}"></td>
                        <td th:text="${pago.getPagoSolidoTotal}"></td>
                        <td th:text="${pago.getBonificacionFrecuencia}"></td>
                        <td th:text="${pago.getDctoVariacionLeche}"></td>
                        <td th:text="${pago.getDctoVariacionGrasa}"></td>
                        <td th:text="${pago.getDctoVariacionSolidoTotal}"></td>
                        <td th:text="${pago.getPagoTotal}"></td>
                        <td th:text="${pago.getMontoRetencion}"></td>
                        <td th:text="${pago.getMontoFinal}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
