<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Registrar Proveedor</title>
        <link
            rel="stylesheet"
            href="../static/styles/navbar.css"
            type="text/css"
            th:href="@{/styles/navbar.css}"
        />
        <link
            rel="stylesheet"
            href="../static/styles/general.css"
            type="text/css"
            th:href="@{/styles/general.css}"
        />
        <link
            rel="stylesheet"
            href="../static/styles/registrar_proveedor.css"
            type="text/css"
            th:href="@{/styles/registrar_proveedor.css}"
        />
    </head>
    <body>
        <header class="navbar">
            <a class="link-active" href="/proveedores/registrar"
                >Ingresar Proveedor</a
            >
            <a href="/proveedores/listar">Listar Proveedores</a>
            <p class="logo">MilkStgo</p>
            <a>Planilla de Pagos</a>
            <div class="dropdown">
                <div class="dropdown-header">
                    <a>Importar Excel</a>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="26px"
                        viewBox="0 0 24 24"
                        width="26px"
                        fill="#FFFFFF"
                    >
                        <path
                            d="M8.12 9.29L12 13.17l3.88-3.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-4.59 4.59c-.39.39-1.02.39-1.41 0L6.7 10.7c-.39-.39-.39-1.02 0-1.41.39-.38 1.03-.39 1.42 0z"
                        />
                    </svg>
                </div>
                <ul class="dropdown-content">
                    <li><a href="/acopios-leche/importar">Acopio de leche</a></li>
                    <li><a href="">Grasa y sólidos totales</a></li>
                </ul>
            </div>
        </header>
        <div class="main">
            <div class="title">
                <h3>Registro de Proveedor</h3>
                <hr />
            </div>
            <div
                th:class="${class}"
                th:text="${message}"
                th:if="${message}"
            ></div>
            <form
                class="form"
                th:action="@{/proveedores/registrar}"
                method="POST"
            >
                <input
                    name="nombre"
                    class="input"
                    type="text"
                    placeholder="Nombre"
                    required
                />
                <input
                    name="codigo"
                    class="input"
                    type="text"
                    placeholder="Código"
                    required
                />
                <div class="selects">
                    <select name="categoria" class="input" required>
                        <option value="" disabled selected>Categoría</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                    </select>
                    <select name="retencion" class="input" required>
                        <option value="" disabled selected>
                            Afecto a Retención
                        </option>
                        <option value="Si">Si</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <button type="submit">Registrar</button>
            </form>
        </div>
    </body>
</html>
