<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Subir datos Grasas y Solidos Totales</title>
        <link
            rel="stylesheet"
            href="../static/styles/navbar.css"
            type="text/css"
            th:href="@{/styles/navbar.css}"
        />
        <link
            rel="stylesheet"
            href="../static/styles/general.css"
            type="text/css"
            th:href="@{/styles/general.css}"
        />
        <link
            rel="stylesheet"
            href="../static/styles/subir_datos_excel.css"
            type="text/css"
            th:href="@{/styles/subir_datos_excel.css}"
        />
        <link
            rel="stylesheet"
            href="../static/styles/subir_datos_grasas_solidos.css"
            type="text/css"
            th:href="@{/styles/subir_datos_grasas_solidos.css}"
        />
    </head>
    <body>
        <header class="navbar">
            <a href="/proveedores/registrar">Ingresar Proveedor</a>
            <a href="/proveedores/listar">Listar Proveedores</a>
            <p class="logo">MilkStgo</p>
            <a href="/planilla-pagos/calcular">Planilla de Pagos</a>
            <div class="dropdown">
                <div class="dropdown-header">
                    <a class="link-active">Importar Excel</a>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="26px"
                        viewBox="0 0 24 24"
                        width="26px"
                        fill="#FFFFFF"
                        class="svg-active"
                    >
                        <path
                            d="M8.12 9.29L12 13.17l3.88-3.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-4.59 4.59c-.39.39-1.02.39-1.41 0L6.7 10.7c-.39-.39-.39-1.02 0-1.41.39-.38 1.03-.39 1.42 0z"
                        />
                    </svg>
                </div>
                <ul class="dropdown-content">
                    <li>
                        <a href="/acopios-leche/importar">Acopio de leche</a>
                    </li>
                    <li>
                        <a
                            class="link-active"
                            href="/grasas-solidos-totales/importar"
                            >Grasa y sólidos totales</a
                        >
                    </li>
                </ul>
            </div>
        </header>
        <div class="main">
            <div class="title">
                <h3>Subir datos Grasas y Solidos Totales</h3>
                <hr />
            </div>
            <div
                th:class="${class}"
                th:text="${message}"
                th:if="${message}"
            ></div>
            <form
                class="card"
                th:action="@{/grasas-solidos-totales/importar}"
                method="POST"
                enctype="multipart/form-data"
            >
                <div class="top-content">
                    <p>Subir archivo con grasa y solidos totales</p>
                    <div class="selects">
                        <select name="year" id="year" required>
                            <option value="" disabled selected>Año</option>
                        </select>
                        <select name="mes" id="mes" required>
                            <option value="" disabled selected>Mes</option>
                        </select>
                        <select name="quincena" id="quincena" required>
                            <option value="" disabled selected>Quincena</option>
                        </select>
                    </div>
                </div>
                <div id="upload-zone" class="card-upload">
                    <input
                        id="file"
                        name="file"
                        type="file"
                        accept=".xlsx"
                        required
                    />
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="80"
                        height="80"
                        viewBox="0 0 24 24"
                    >
                        <path
                            fill="#e27120"
                            d="M13 20H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h5v3a3 3 0 0 0 3 3h3v2a1 1 0 0 0 2 0V8.94a1.31 1.31 0 0 0-.06-.27v-.09a1.07 1.07 0 0 0-.19-.28l-6-6a1.07 1.07 0 0 0-.28-.19a.32.32 0 0 0-.09 0a.88.88 0 0 0-.33-.11H6a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h7a1 1 0 0 0 0-2Zm0-14.59L15.59 8H14a1 1 0 0 1-1-1ZM8 8a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2Zm6 4H8a1 1 0 0 0 0 2h6a1 1 0 0 0 0-2Zm6.71 5.29l-2-2a1 1 0 0 0-.33-.21a1 1 0 0 0-.76 0a1 1 0 0 0-.33.21l-2 2a1 1 0 0 0 1.42 1.42l.29-.3V21a1 1 0 0 0 2 0v-2.59l.29.3a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.42ZM12 18a1 1 0 0 0 0-2H8a1 1 0 0 0 0 2Z"
                        />
                    </svg>
                    <div class="label">
                        <h3>Suelte su archivo aquí o</h3>
                        <label for="file"><b>Examine</b></label>
                    </div>
                    <p id="hint">El archivo debe ser .xlsx</p>
                </div>
                <button type="submit">Subir archivo</button>
            </form>
        </div>
    </body>
    <script
        type="text/javascript"
        src="../static/scripts/ingresar_quincena.js"
        th:src="@{/scripts/ingresar_quincena.js}"
    ></script>
    <script
        type="text/javascript"
        src="../static/scripts/subir_archivo.js"
        th:src="@{/scripts/subir_archivo.js}"
    ></script>
</html>
