<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Lista de Proveedores</title>
        <link
            rel="stylesheet"
            href="../static/styles/navbar.css"
            type="text/css"
            th:href="@{/styles/navbar.css}"
        />
        <link
            rel="stylesheet"
            href="../static/styles/general.css"
            type="text/css"
            th:href="@{/styles/general.css}"
        />
        <link
            rel="stylesheet"
            href="../static/styles/subir_acopio_leche.css"
            type="text/css"
            th:href="@{/styles/subir_acopio_leche.css}"
        />
    </head>
    <body>
        <header class="navbar">
            <a href="/proveedores/registrar">Ingresar Proveedor</a>
            <a href="/proveedores/listar">Listar Proveedores</a>
            <p class="logo">MilkStgo</p>
            <a>Planilla de Pagos</a>
            <div class="dropdown">
                <div class="dropdown-header">
                    <a class="link-active">Importar Excel</a>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="26px"
                        viewBox="0 0 24 24"
                        width="26px"
                        fill="#FFFFFF"
                        class="svg-active"
                    >
                        <path
                            d="M8.12 9.29L12 13.17l3.88-3.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-4.59 4.59c-.39.39-1.02.39-1.41 0L6.7 10.7c-.39-.39-.39-1.02 0-1.41.39-.38 1.03-.39 1.42 0z"
                        />
                    </svg>
                </div>
                <ul class="dropdown-content">
                    <li>
                        <a class="link-active" href="/acopios-leche/importar"
                            >Acopio de leche</a
                        >
                    </li>
                    <li><a href="">Grasa y sólidos totales</a></li>
                </ul>
            </div>
        </header>
        <div class="main">
            <div class="title">
                <h3>Subir datos Acopio de Leche</h3>
                <hr />
            </div>
            <div th:text="${message}" th:if="${message}"></div>
            <form
                class="card"
                th:action="@{/acopios-leche/importar}"
                method="POST"
                enctype="multipart/form-data"
            >
                <div class="top-content">
                    <p>Subir archivo con los kilos de leche</p>
                    <div class="selects">
                        <select name="year" id="year" required>
                            <option value="" disabled selected>Año</option>
                        </select>
                        <select name="mes" id="mes" required>
                            <option value="" disabled selected>Mes</option>
                        </select>
                        <select name="quincena" id="quincena" required>
                            <option value="" disabled selected>Quincena</option>
                        </select>
                    </div>
                </div>
                <div id="upload-zone" class="card-upload">
                    <input
                        id="file"
                        name="file"
                        type="file"
                        accept=".xlsx"
                        required
                    />
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="80"
                        height="80"
                        viewBox="0 0 24 24"
                    >
                        <path
                            fill="#e27120"
                            d="M13 20H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h5v3a3 3 0 0 0 3 3h3v2a1 1 0 0 0 2 0V8.94a1.31 1.31 0 0 0-.06-.27v-.09a1.07 1.07 0 0 0-.19-.28l-6-6a1.07 1.07 0 0 0-.28-.19a.32.32 0 0 0-.09 0a.88.88 0 0 0-.33-.11H6a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h7a1 1 0 0 0 0-2Zm0-14.59L15.59 8H14a1 1 0 0 1-1-1ZM8 8a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2Zm6 4H8a1 1 0 0 0 0 2h6a1 1 0 0 0 0-2Zm6.71 5.29l-2-2a1 1 0 0 0-.33-.21a1 1 0 0 0-.76 0a1 1 0 0 0-.33.21l-2 2a1 1 0 0 0 1.42 1.42l.29-.3V21a1 1 0 0 0 2 0v-2.59l.29.3a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.42ZM12 18a1 1 0 0 0 0-2H8a1 1 0 0 0 0 2Z"
                        />
                    </svg>
                    <div class="label">
                        <h3>Suelte su archivo aquí o</h3>
                        <label for="file"><b>Examine</b></label>
                    </div>
                    <p id="hint">El archivo debe ser .xlsx</p>
                </div>
                <button type="submit">Subir archivo</button>
            </form>
        </div>
    </body>
    <script>
        // Recibe el numero del mes (0-11) y lo transforma a texto
        function getMonthName(month_number) {
            const date = new Date();
            date.setDate(1); // Para prevenir error con meses
            date.setMonth(month_number);
            return date.toLocaleString("es-US", { month: "long" });
        }

        // Select estandar para los años anteriores al actual
        function getStandardMonthSelect() {
            var select = document.createElement("select");
            select.name = "mes";
            select.id = "mes";
            select.required = true;
            var option = document.createElement("option");
            option.value = "";
            option.text = "Mes";
            option.disabled = true;
            option.selected = true;
            select.append(option);
            for (let month = 0; month < 12; month++) {
                var option = document.createElement("option");
                option.value = month;
                option.text = getMonthName(month);
                select.append(option);
            }
            return select;
        }

        function getStandardFortnightSelect() {
            var select = document.createElement("select");
            select.name = "quincena";
            select.id = "quincena";
            select.required = true;
            var option = document.createElement("option");
            option.value = "";
            option.text = "Quincena";
            option.disabled = true;
            option.selected = true;
            select.append(option);
            ["Primera", "Segunda"].forEach((el, i) => {
                var option = document.createElement("option");
                option.value = i + 1;
                option.text = el;
                select.append(option);
            });
            return select;
        }

        // Para la seleccion de la quincena
        const year_select = document.getElementById("year");
        const month_select = document.getElementById("mes");
        const fortnight_select = document.getElementById("quincena");
        const start_year = 2021;
        const current_date = new Date();
        const current_year = current_date.getFullYear();
        const current_month = current_date.getMonth();
        const current_day = current_date.getDate();
        const fortnights = ["Primera", "Segunda"];
        const standard_fortnights_select = getStandardFortnightSelect();
        const standard_month_select = getStandardMonthSelect();

        // Se calcula el mes y la quincena al cual llega segun
        //  el dia actual (tomando 2 dias de margen)
        var final_fortnight;
        var final_month;
        if (current_day >= 27) {
            final_month = current_month;
            final_fortnight = 2;
        } else if (current_day >= 13) {
            final_month = current_month;
            final_fortnight = 1;
        } else {
            final_month = current_month - 1;
            final_fortnight = 2;
        }

        for (let fortnight = 1; fortnight <= final_fortnight; fortnight++) {
            var fortnight_option = document.createElement("option");
            fortnight_option.value = fortnight;
            fortnight_option.text = fortnights[fortnight - 1];
            fortnight_select.append(fortnight_option);
        }

        // Valor actual de la quincena por defecto
        fortnight_select.value = final_fortnight;

        // Meses que se pueden seleccionar
        for (let month = 0; month <= final_month; month++) {
            var month_option = document.createElement("option");
            month_option.value = month;
            month_option.text = getMonthName(month);
            month_select.append(month_option);
        }

        var final_year = current_year;
        if (final_month === -1) {
            // No se alcanza a pasar al siguiente año por la quincena
            //  por lo tanto se llega hasta el anterior
            month_select.replaceWith(standard_month_select);
            final_year = current_year - 1;
            month_select.value = 11;
        } else {
            // Valor actual del mes por defecto
            month_select.value = final_month;
        }

        // Años que puede seleccionar
        for (let year = current_year; start_year <= year; year--) {
            var year_option = document.createElement("option");
            year_option.value = year;
            year_option.text = year;
            year_select.append(year_option);
        }

        // Valor actual del año por defecto
        year_select.value = current_year;

        // Cambiar meses disponibles en funcion del año
        year_select.addEventListener("change", (e) => {
            const year_selected = e.target.value;
            const current_month_select = document.getElementById("mes");
            if (year_selected == final_year) {
                month_select.value = current_month_select.value;
                month_select.value = month_select.value ?? "";
                current_month_select.replaceWith(month_select);
            } else {
                standard_month_select.value = current_month_select.value;
                current_month_select.replaceWith(standard_month_select);
            }
        });

        // Cambiar quincenas disponibles en funcion del mes
        month_select.addEventListener("change", (e) => {
            const month_selected = e.target.value;
            const current_fortnight_select =
                document.getElementById("quincena");
            if (month_selected == final_month) {
                fortnight_select.value = current_fortnight_select.value;
                fortnight_select.value = fortnight_select.value ?? "";
                current_fortnight_select.replaceWith(fortnight_select);
            } else {
                standard_fortnights_select.value =
                    current_fortnight_select.value;
                current_fortnight_select.replaceWith(
                    standard_fortnights_select
                );
            }
        });

        // Para la entrada del archivo Excel
        const input_file = document.getElementById("file");
        const card_upload = document.getElementById("upload-zone");
        const hint_data = document.getElementById("hint");

        card_upload.addEventListener("dragover", (e) => {
            e.preventDefault();
            card_upload.classList.add("dragover");
        });

        ["dragleave", "dragend"].forEach((event_type) => {
            card_upload.addEventListener(event_type, (e) => {
                e.preventDefault();
                card_upload.classList.remove("dragover");
            });
        });

        card_upload.addEventListener("drop", (e) => {
            e.preventDefault();
            if (e.dataTransfer.files.length) {
                input_file.files = e.dataTransfer.files;
                hint_data.innerHTML = input_file.files[0].name;
            }
        });

        input_file.addEventListener("change", (e) => {
            hint_data.innerHTML = e.target.files[0].name;
            card_upload.classList.add("dragover");
        });
    </script>
</html>
